/* GENERAL */

    @media all {
        .background {
            background-image: url(images/background.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
    }

    html { 
        min-height: 100%; 
        font-family: "Roboto", sans-serif;
      }
      
      .container1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        list-style: none;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
     }

      ul, a
      {
          text-decoration: none;
          text-transform: uppercase;
          display: flex;
          color: white;
          font-size: 30px;
          font-weight: bold;
          list-style: none;
          margin: 30px;
      }
      
      
